aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
idna==2.10
multidict==5.1.0
numpy==1.20.1
pandas==1.2.3
psutil==5.8.0
PyJWT==2.0.1
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.2.3.0.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
scipy==1.6.1
shinny-structlog==0.0.4
simplejson==3.17.2
six==1.15.0
tqsdk==2.3.5
typing-extensions==3.7.4.3
urllib3==1.26.4
websockets==8.1
yarl==1.6.3
